input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0;
  list-style-type: none;
  font-size: 0.9em;
  line-height: 0.9em;
  opacity: 0;

  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}

.brand-link{
  padding: 0px; 
}

.kpip_logo_mini {
  display: none;
  color: white;
  font-family: sans-serif;
  width: 100%;
}

/* .layout-navbar-fixed .wrapper .sidebar-dark-primary .brand-link:not([class*=navbar]) {
  background-color: #ffffff;
} */


html ::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

html ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

html ::-webkit-scrollbar-thumb {
/* background-color: #ff914d; */
background-color: #aaaaaa;
outline: 1px solid slategrey;
}

/*.table{
  font-size: 14px !important;
}*/

.tbl-action{
  min-width: 80px;
}